.grid {
    display: grid;
    height: 100%;
    width: 100%;
}

.grid-row {
    width: 100%;
    max-width: calc(var(--container-size) - 8px);
}

.grid-cell {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
