.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 0;
    font-weight: bold;
    font-family: var(--font-family);
    border-radius: var(--border-radius);

    -webkit-transition: transform var(--animation-duration);
    -webkit-transition: -webkit-transform var(--animation-duration);
    transition: transform ease var(--animation-duration);
}

.fadeInScale {
    animation: fadeInScale var(--animation-duration) ease-in;
}

@keyframes fadeInScale {
    0% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}
